
  <nav class="rightAlign">
    <ul>    
      <li><button class="btn btn-secondary"><a href="/trips/new">Add Trip</a></button></li>
      <li><button class="btn btn-secondary"><a href="/trips">All Trips</a></button></li>
      <li><button class="btn btn-danger"><a href="/logout">Log Out</a></button></li>
    </ul>
  </nav>
    
  