<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>places-to-visit</title>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Places to Visit</h1>
    <div id="places-to-visit">
        <table>
            <thead>
                <tr>   
                    <th>City</th>
                    <th>Country</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% trips.forEach(function(t) { %>
                    <tr>
                        <td><%= t.cityName %></td>
                        <td><%= t.countryName %></td>
                        <td><a href="/trips/<%= t._id %>">Details</a></td>
                        <td><a href="/trips/delete/<%= t._id %>">Delete</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>