<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Places to Visit</title>
</head>
<body>
        <h2>Enter a New Place to Visit</h2>
        <form action="/trips" method="POST" autocomplete="off">
            <label>City:
                <input type="text" name="cityName">
            </label><br>
            <label>Country:
                <input type="text" name="countryName">
            </label><br>
            <button type="submit">Add Trip</button>
        </form>

</body>
</html>